<nav class="navbar navbar-default navbar-fixed-top be-top-header">
  <div class="container-fluid">
    <div class="navbar-header"><a href="/scan" class="navbar-brand"></a>
    </div>
    <div class="be-right-navbar">
      <ul class="nav navbar-nav navbar-right be-user-nav">
        <li class="custom"><a href="/scan" role="button" aria-expanded="false">Scan</a></li>
        <li class="custom"><a href="/room" role="button" aria-expanded="false">Rooms</a></li>
        <li class="custom"><a href="/login" role="button" aria-expanded="false">Se connecter</a></li>
      </ul>
    </div>
  </div>
</nav>