<nav class="navbar navbar-default navbar-fixed-top be-top-header" style="width:600px; margin-left:auto; margin-right:auto;border-style:double;border-width:1px;border-radius: 5px;top:20px;border-color: #424242;" ng-if="!state.is('main')">
  <div class="container-fluid">
    <div class="navbar-header"><a href="/scan" class="navbar-brand"></a>
    </div>
    <div class="be-right-navbar">
      <ul class="nav navbar-nav navbar-right be-user-nav">
        <li class="custom" ng-if="Auth.isLoggedIn()"><a href="/room" role="button" aria-expanded="false">SALONS</a></li>
        <li class="custom" ng-if="!Auth.isLoggedIn()"><a href="/login" role="button" aria-expanded="false">CONNEXION</a></li>
        <li class="custom" ng-if="Auth.isLoggedIn()"><a href="/profile" role="button" aria-expanded="false">PROFIL</a></li>
        <li class="custom" ng-if="Auth.isLoggedIn()"><a href="/logout" role="button" aria-expanded="false">DECONNECTER</a></li>
      </ul>
    </div>
  </div>
</nav>

<nav class="navbar navbar-default navbar-fixed-top be-top-header" ng-if="state.is('main')">
  <div class="container-fluid">
    <div class="navbar-header"><a href="/scan" class="navbar-brand"></a>
    </div>
    <div class="be-right-navbar">
      <ul class="nav navbar-nav navbar-right be-user-nav">
        <li class="custom" ng-if="Auth.isLoggedIn()"><a href="/room" role="button" aria-expanded="false">SALONS</a></li>
        <li class="custom" ng-if="!Auth.isLoggedIn()"><a href="/login" role="button" aria-expanded="false">CONNEXION</a></li>
        <li class="custom" ng-if="Auth.isLoggedIn()"><a href="/logout" role="button" aria-expanded="false">DECONNECTER</a></li>
      </ul>
    </div>
  </div>
</nav>